//-----ActivityMain-----//
.activity-main {
  padding-bottom: 80px;
  .chieh-breadcrumb {
    .breadcrumb {
      // margin-top: 4.375rem;
      margin-bottom: 0;
      // height: 38px;
    }
  }

  // margin-top: 24px;
  .btn-option {
    width: 11.875rem;
    height: 3.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
    border-radius: 30px;
    background-color: #fc774c;
  }

  .btn-option:hover {
    color: #fff;
    background-color: #fb5a26;
    border-color: #fb511a;
  }

  .btn-select {
    width: 11.875rem;
    height: 3.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
    border-radius: 30px;
    background-color: #2690df;
  }

  .btn-select:hover {
    color: #fff;
    background-color: #1d7bc2;
    border-color: #1b74b7;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0;
  }

  h4 {
    font-size: 2rem;
    font-weight: Medium;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
  }
  .container {
    max-width: 1360px;
    // width: 1360px;
    margin-top: 32px;
    padding: 0;
  }

  //-------------------------------------//
  .introduction {
    width: 81%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
  }

  .option {
    width: 19%;
  }

  .activity-demo {
    width: 100%;
    // height: 41.5rem;
    height: 30rem;
    object-fit: cover;
  }

  .btn-tag1 {
    width: 5.625rem;
    height: 2.25rem;
    font-size: 1rem;
    color: #232d2f;
    border-radius: 30px;
    margin-right: 1rem;
    border-color: #326bef;
  }

  .btn-tag2 {
    width: 5.625rem;
    height: 2.25rem;
    font-size: 1rem;
    color: #232d2f;
    border-radius: 30px;
    margin-right: 1rem;
    border-color: #ab4fed;
  }

  .btn-tag3 {
    width: 5.625rem;
    height: 2.25rem;
    font-size: 1rem;
    color: #232d2f;
    border-radius: 30px;
    margin-right: 1rem;
    border-color: #f780ae;
  }

  .activity-wrap {
    width: 45%;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #232d22;
    align-items: center;
    display: flex;
  }

  //-----------ActivityMain_Tab-----------//
  .nav-pills {
    .nav-link {
      color: #232d2f;
      border-radius: 0;
      border: none;
      opacity: 0.3;
    }

    .nav-link.active,
    .nav-pills .show > .nav-link {
      color: #232d2f;
      border-bottom: 5px solid #2690df;
      background-color: #fff;
      opacity: 1;
    }
  }

  .nav-tabs {
    margin-top: 64px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: solid 1px rgba(112, 112, 112, 0.3);
    background-color: #fff;
  }

  //-----------ActiityInfo-----------//
  .option-card {
    width: 240px;
    height: 365px;
    padding: 24px;
    border: 1px solid #909393;
    border-radius: 5px;
  }

  .activity-info {
    width: 76%;
    padding-right: 50px;
    margin-top: 16px;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #232d2f;
    margin-bottom: 24px;
  }

  .text-act {
    font-size: 1rem;
    line-height: 3;
    color: #232d2f;
  }

  .text-card {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #232d2f;
  }

  .text-card > span {
    margin-left: 8px;
  }

  h6 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 3;
  }

  //-----------ActiityOption-----------//
  .option-item {
    padding: 48px;
    border: 1px solid #909393;
    border-radius: 5px;
    margin-bottom: 48px;
  }
  .option-content {
    width: calc(100 - 470px);
    padding-right: 30px;
  }
  .option-content > li {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .option-content > h4 {
    font-weight: bold;
    margin-bottom: 16px;
  }
  .counter > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .counter .d-flex {
    width: 190px;
  }

  .accordion {
    .card {
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
    .card-header {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      border: none;
      width: 470px;
    }
    .card-body {
      padding: 0;
    }
  }

  .add-collect .d-none {
    color: #909393;
  }
}
