//-----------ActivityOrder-----------//
.activity-order {
  margin-top: -100px;
  padding-bottom: 100px;
  width: 820px;
  .btn-order {
    width: 231px;
    height: 50px;
    font-size: 1.5rem;
    // font-weight: bold;
    line-height: 1.5;
    color: #232d2f;
    border-radius: 30px;
    border-color: #232d2f;
    background-color: transparent;
    outline: none;
  }

  .btn-order:hover {
    color: #fff;
    background-color: #232d2f;
    border-color: #232d2f;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0;
  }

  h4 {
    font-size: 2rem;
    font-weight: Medium;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
  }

  h6 {
    font-size: 1rem;
    color: #f8f8f8;
    margin: 0;
  }

  .container {
    max-width: 1360px;
    // width: 1360px;
    margin-top: 32px;
    padding: 0;
  }

  .list-title {
    width: 20rem;
    font-size: 2rem;
    font-weight: bold;
    color: #232d2f;
    text-align: center;
    border-left: 3px solid #232d2f;
    border-right: 3px solid #232d2f;
    // margin-bottom: 24px;
  }

  .member-bar {
    width: 30%;
  }

  .active {
    border-bottom: none;
  }

  .nav-pills {
    .nav-link {
      color: #232d2f;
      border-radius: 0;
      border: none;
      opacity: 0.3;
    }

    .nav-link.active,
    .nav-pills .show > .nav-link {
      color: #232d2f;
      border-bottom: 5px solid #2690df;
      background-color: transparent;
      opacity: 1;
    }
  }

  .nav-tabs {
    margin-top: 64px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: solid 1px rgba(112, 112, 112, 0.3);
    // background-color: transparent;
  }

  a,
  a:active,
  a:focus,
  a:hover {
    color: #232d2f !important;
    text-decoration: none;
  }

  .order-info {
    padding: 1.5rem;
  }

  .order-number {
    height: 50px;
    background-color: #44494a;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .order-detail {
    height: 50px;
    background-color: #909393;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
  }

  .detail-title {
    width: 100px;
  }

  .detail-content {
    width: 400px;
    padding-right: 16px;
  }

  .order-info-title {
    width: 100px;
  }

  .order-info-content {
    width: 385px;
    padding-right: 16px;
  }
}
