@import "~bootstrap/scss/bootstrap.scss";
@import "./ch_activity.scss";
@import "./ch_studio.scss";
@import "./ch_order.scss";

.navbar {
  height: 4.375rem;
}

.breadcrumb {
  margin-top: 4.375rem;
  margin-bottom: 0;
  height: 38px;
}
