.sa-100vh {
  height: 100vh;
  width: 100%;
  background-color: #232d2f;
}

.sa-channel-collection-wrap {
  width: 100%;
  //   height: 100%;

  background-color: #232d2f;

  // min-height: 100vh;

  // padding-bottom: 5rem;

  // margin-top: 4rem;
}
.sa-channel-list-wrap {
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.sa-channel-collection-colbox {
  width: 15rem;
  height: 19rem;
  background-color: #3b4244;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.sa-channel-collection-img-area {
  width: 15rem;
  height: 15rem;
}

.sa-channel-collection-img {
  width: 100%;
}

.sa-channel-collection-title-area {
  text-align: center;
  padding-top: 1.3rem;
}

.sa-channel-collection-title {
  color: #ffffff;
}

// .sa-nothingbox {
//   display: flex;
//   width: 100%;
//   // height:30;

//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   color: #ffffff;
// }
// .sa-nothingbox-title {
//   padding-top: 2rem;
//   padding-bottom: 2rem;
//   font-size: 3rem;
// }

// .sa-nothingbox-go {
//   font-size: 2rem;
//   padding-bottom: 7rem;
// }
// .sa-nothingbox-go:hover {
//   cursor: pointer;
// }

// .sa-nothingbox-go:active {
//   cursor: pointer;
//   color: #fc774c;
// }
