// sa-Verification-

// body {
//   background-color: #232d2f;
//   position: relative;
// }

// body::before {
//   content: '';
//   opacity: 0.54;
//   z-index: -1;
//   position: absolute;
//   display: block;
//   height: 100%;
//   width: 100%;
//   background-image: url('../img/Verify_bc.png');
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.sa-Verification-wrap {
  width: 100%;

  height: 100vh;
  background-color: #232d2f;
  // background-image: url('../img/bcc1.png');
  position: relative;
}

.sa-Verification-wrap::before {
  content: '';
  opacity: 0.62;
  z-index: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('http://localhost:3000/sa_img/Verify_bc.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sa-Verification-box-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sa-Verification-box {
  position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // margin: auto;
  width: 30rem;
  // height: 35rem;
  background-color: #00000086;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8f8f8;
}

.sa-Verification-account {
}

.sa-Verification-box .sa-Verification-title {
  padding-top: 2rem;
  color: #f8f8f8;
  font-size: 3rem;
}

.sa-Verification-check-button {
  text-align: center;
  background-color: #2690df;
  height: 3.3rem;
  font-size: 1.5rem;
  line-height: 3.3rem;
  width: 23rem;
  border-radius: 2.5rem;

  margin-bottom: 2rem;

  cursor: pointer;
}
