// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// GooglgeFonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

//Article系列 CSS------------------
.article-body {
  background-color: #232d2f;
  color: #f8f8f8;
  font-family: 'Noto Sans TC', sans-serif, 'ROBOTO';

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #f8f8f8;
  }

  a:hover {
    text-decoration: none;
  }
  .carousel {
    padding-top: 1rem; //留Navbar空隙
    ol {
      justify-content: flex-start;
    }
    li {
      width: 10px;
      height: 10px;
      border-radius: 50% 50%;
    }
    .carousel-img {
      position: relative;
      width: 120rem;
      height: 80vh;
      overflow: hidden;

      img {
        position: absolute;
        height: 200%;
        object-fit: cover;
        filter: blur(1px);
      }
    }
    .carousel-hearder-bg {
      position: absolute;
      width: 38rem;
      height: 14rem;
      left: 0;
      bottom: 3rem;
      background-color: #232d2f;
      opacity: 0.3;
      border-radius: 5px;
    }
    .carousel-caption {
      width: 38rem;
      height: 12rem;
      left: 0;
      bottom: 3rem;
      z-index: 1;
    }
  }

  .article-container {
    width: 85rem;
    padding-bottom: 5rem;

    .article-breadcrumb {
      // width: 100%;
      height: 2rem;
      font-size: 1rem;
      margin: 4rem 0;
      ol {
        background-color: #232d2f;
        li {
          a {
            color: #f8f8f8;
          }
        }
        li:last-child {
          a {
            color: #444c4e;
            cursor: default;
          }
        }
      }
    }

    .article-tags-btn {
      color: #f8f8f8;
      border-radius: 25px;
      border: 1px solid #f8f8f8;
      padding: 0.2rem 1.5rem;
      margin-left: 1rem;
      background-color: #232d2f;
    }
    .article-tags-btn:hover {
      background-color: #444c4e;
    }

    @import './articleHome.scss';
    @import './articlePage.scss';
  }
  .icon {
    font-size: 1.5rem;
    color: #f8f8f8;
  }
  .article-click-to-top {
    background-color: #444c4e;
    border-radius: 50% 50%;
    opacity: 0.5;
    position: fixed;
    bottom: 100px;
    right: 50px;
    color: #f8f8f8;
    padding: 1rem;
    display: none;
  }
  .article-click-to-top:hover {
    opacity: 1;
    cursor: pointer;
  }
}
