// @import '~bootstrap/scss/bootstrap.scss';
// html body {
//   // background-color: $primary !important;
//   // color: #ffffff;
//   cursor: default;
// }
// // ul,
// li {
//   list-style: none;
// }

// a,
// a:active,
// a:focus,
// a:hover {
//   color: #ffffff !important;
//   text-decoration: none !important;
// }

////////////////////////////////////MSG BOARD START//////////////////////////////////////
//msg Board
.article-cmtArea {
  /* border: 1px solid black; */
  margin: 0px;
  padding: 0px;
  // width: 35rem !important;
  width: 63.25rem;
  color: #f8f8f8;
  .article-cmtBoxArea {
    width: 100%;
    /* min-height: 8.125rem; */
    // border-bottom: 1px solid #909393;
    border-bottom: 1px solid #333;
    .article-cmtInfo {
      width: 100%;
      /* height: 1.688rem; */
      padding-top: 1.375rem;
      padding-bottom: 0.938rem;
    }
    .article-cmtTools {
      padding-top: 0.938rem;
      padding-bottom: 0.2rem;
      span {
        font-size: 0.75rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
      }
    }
  }
}

/* .cmtBoxArea .cmtTextWrap {
  margin-bottom: 0.938rem;
} */

.article-cmtModule,
.article-cmtModuleHead {
  margin: 0px;
  padding: 0px;
  width: 100%;
  /* border: 1px solid black; */
}
.article-cmtModuleHead {
  margin: 0px 0px 1.875rem 0px;
  padding: 0px;
  width: 100%;
  height: 2.5rem;
  h5 {
    margin: 0px;
    padding: 0px;
    font-size: 1.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #f8f8f8;
  }
  span {
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    opacity: 0.5;
  }
}
.article-cmtSortOption {
  width: 100%;
  height: 4.5rem;
  // border-bottom: 1px solid #909393;
  border-bottom: 1px solid #333;
}

.article-cmtSortOption ul,
.article-cmtContainer ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.article-cmtSortOption ul li {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.article-cmtSortOptionList {
  .active {
    background-color: #444c4e;
    border-bottom: none; //去除active預設的藍底線
  }
  li {
    border-radius: 38px;
    line-height: 1.8;
    font-weight: 500;
    padding: 0.5rem 1.2rem 0.5rem 1rem;
  }
  li:hover {
    background-color: #444c4e;
  }
  span:hover {
    cursor: pointer;
  }
}

.article-userHeadIcon {
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  background-size: contain;
  border-radius: 50%;
  background-color: #444c4e;
  // background-image: url(http://0.gravatar.com/avatar/fa4df8540bab3cb38f7dfa60c6e0522c?size=2000);
  /* background-image: url(/img/1-2.png); */
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.article-cmtNickname {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  /* padding-right: 1rem; */
}

.article-cmtInfoDate {
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  /* color: rgba(0, 0, 0, 0.87); */
}

.article-cmtBoxContent {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

.article-cmtReplyIco {
  padding-top: 1.2rem;
  img {
    width: 1.187rem;
    height: 0.938rem;
  }
}

.article-cmtReply {
  width: 100%;
}

.article-cmtBoxReplyArea {
  /* height: 7.438rem; */
  // border-bottom: 1px solid #909393;
  border-bottom: 1px solid #333;
  .article-cmtInfo {
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
    .article-cmtTools {
      padding-top: 0.938rem;
    }
  }
}

/* 回應按鈕 */

// .replyBtn {
//   padding-right: 1.25rem;
//   background-image: url(/img/arrow_drop_down-24px.svg);
//   background-position: right bottom;
//   background-repeat: no-repeat;
// }

// .replyBtnOn {
//   padding-right: 1.25rem;
//   background-image: url(/img/arrow_drop_up-24px.svg);
//   background-position: right bottom;
//   background-repeat: no-repeat;
// }

.replyAccording,
.pointAccording {
  cursor: pointer;
}
//MsgInput & MsgReply
.article-writeBox {
  position: relative;
}

.article-writeCmt {
  position: relative;
  .article-cmtTextarea,
  .article-replyTextarea {
    width: 63.25rem;
    height: 5.875rem;
    border-radius: 5px;
    background-color: #909393;
    resize: none;
    outline: none;
    border: none;
    position: relative;
  }
  label {
    position: absolute;
    top: 2rem;
    left: 1.75rem;
  }
}

.article-cmtSendBox {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(50%, 0%);
}

.article-cmtSendBtn {
  margin: 0px;
  padding: 0px;
  width: 2.5rem;
  height: 2.5rem;
  border: 0px;
  background-color: #ffffff;
  border-radius: 50%;
}

// icon

.addBtn {
  font-size: 2.5rem;
  color: #5b5b5b;
}

.hotBtn,
.sortBtn {
  font-size: 1.5rem;
  color: #ffffff;
}

.article-cmtToolsBtn {
  font-size: 1rem;
  color: #ffffff;
}

.replyArrow {
  font-size: 1rem;
  color: #ffffff;
}

.emptyReplyBox {
  margin-bottom: 3em;
}
////////////////////////////////////MSG END//////////////////////////////////////
