@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.checkout-page {
  font-family: 'Noto Sans TC', sans-serif;
  .container {
    width: 1356px;
    margin-top: 100px;
    padding: 0;
  }

  .ru-ckpage-step-content {
    margin-top: 40px;
  }

  .ru-ckpage-ship-state {
    width: calc(100% - 435px);
    padding: 40px;
    .ru-ckpage-choose-payment {
      border: 0;
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      h5 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 5rem;
      }
    }
    .ru-ckpage-payment-btn {
      width: 12.5rem;
      height: 5rem;
      border: 2px solid #232d2f;
      border-radius: 5px;
      text-align: center;
      position: relative;
      overflow: hidden;
      padding: 0;
      text-decoration: none;
      color: #232d2f;
      h5 {
        margin: 0;
      }
    }
  }

  .ru-ckpage-step {
    text-align: center;
    .ru-ckpage-step-one,
    .ru-ckpage-step-two,
    .ru-ckpage-step-three {
      width: 30%;
      //   width: 21rem;
      height: 12.5rem;
      border: 1px solid #707070;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.375rem;
      }
      img {
        width: 20%;
        margin-bottom: 1rem;
      }
    }
  }

  .ru-ckpage-choose-payment {
    background-color: white;
    padding: 0;
    .ru-ckpage-payment-btn img {
      width: 33%;
      position: absolute;
      top: 10%;
      right: -7%;
    }
    .credit-card img {
      width: 40%;
      top: 15%;
      right: -10%;
    }
    .ru-ckpage-payment-info {
      width: 50%;
      padding: 0 30px;
      font-size: 1.2rem;
      font-weight: bold;
      .ru-ckpage-ship-rules {
        font-weight: normal;
        width: 130%;
        font-size: 1rem;
        color: #44494a;
        img {
          width: 50px;
          height: 50px;
          margin-right: 5px;
        }
      }
    }
  }

  .ru-ckpage-card {
    border: 0;
    margin-bottom: 40px;
    height: auto;
  }

  .ru-ckpage-card-body {
    border: 0;
    padding: 0 10px;
    .payment-info-topic {
      margin-bottom: 30px;
      .info-topic-border-front {
        width: 10%;
        height: 1px;
        border-bottom: 1px solid #707070;
      }
      .info-topic-border-end {
        width: 70%;
        height: 1px;
        border-bottom: 1px solid #707070;
      }
      h5 {
        margin: 0;
      }
    }
    .form-control::placeholder {
      opacity: 0.5;
    }
    form {
      margin-bottom: 30px;
    }
    label {
      width: 100px;
    }
    .ru-ckpage-choose-store {
      margin-bottom: 30px;
      .choose-store-btn {
        width: 30%;
        height: 50px;
        // background-color: #2690df;
        border-radius: 30px;
        user-select: none;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
      }
      .store-info-key {
        p {
          margin-right: 1rem;
        }
      }
    }

    .ru-store-radio {
      margin-bottom: 30px;
      img {
        width: 25px;
        height: 25px;
        margin-right: 1rem;
      }
      p {
        margin: 0;
      }
    }
  }
  .ru-credit-card-board {
    input {
      width: 10%;
    }
  }
  .ru-credit-card-detail {
    input {
      width: 10%;
      &::placeholder {
        text-align: center;
      }
    }
  }
  .ru-ckpage-next-btn {
    width: 18.75rem;
    height: 3.75rem;
    background-color: #fc774c;
    border-radius: 2rem;
    text-align: center;
    line-height: 3.5rem;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #ff6431;
    }
    .ru-cart-next-btn-pay{
      width: 80%;
      font-size: 1.5rem;
      font-weight: bold;
      color: #f8f8f8;
    }
  }
  .ru-ckpage-go-to-order-btn {
    width: 18.75rem;
    height: 3.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8f8f8;
    background-color: #2690df;
    border-radius: 2rem;
    text-align: center;
    line-height: 3.5rem;
    user-select: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin: 20px;
    &:hover {
      background-color: #117fd3;
    }
  }
  .animate-img {
    // position: relative;
    img {
      width: 50%;
      // position: absolute;
      // top: 0;
    }
    h2 {
      font-size: 4rem;
      font-weight: bolder;
      position: absolute;
      top: 30%;
    }
    user-select: none;
  }
  .ru-cart-amount-info {
    width: 435px;
    background-color: #9093932c;
    padding: 3.375rem 2.625rem;
    font-size: 1.5rem;
  }
  .popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
  }
  @keyframes popout {
    from {
      transform: scale(0);
    }
    80% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  @-webkit-keyframes popout {
    from {
      -webkit-transform: scale(0);
    }
    80% {
      -webkit-transform: scale(1.2);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome, Edge, Opera and Firefox */
}
