@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.coupon-page {
  font-family: "Noto Sans TC", sans-serif;
  // width: 100%;
  width: 1356px;
  padding-left: 33.33%;
  user-select: none;
  margin-top: 50px;
  .ru-coupon-page-wrap {
    width: calc(100%-316px);
    .ru-coupon-title {
      width: 100%;
      padding: 0 25%;
      margin-bottom: 50px;
      color: #44494a;
      h4 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        border-left: 2px solid #44494a;
        border-right: 2px solid #44494a;
        margin: 0 20%;
      }
    }
    .ru-coupon-switch-tab {
      font-size: 1.5rem;
      height: 2.8125rem;
      border-bottom: 1px solid rgba(68, 73, 74, 0.3);
      margin-bottom: 20px;
      text-align: center;
      .coupon-tab {
        width: 170px;
        color: rgba(68, 73, 74, 0.3);
        cursor: pointer;
      }
      .coupon-active {
        color: #44494a;
        border-bottom: 4px solid #2690df;
        margin-bottom: -2px;
      }
    }
    .ru-collect-coupon {
      text-align: center;
      width: 30%;
      border: 1px solid #707070;
      border-radius: 5px;
      padding: 1.2rem 0.5rem 0.5rem;
      margin: 20px 10px;
      position: relative;
      box-shadow: 5px 6px 6px #7070706b;
      //   background-image: linear-gradient(to bottom right, #73e1b4, #2690df);
      //   overflow: hidden;
      &::before {
        content: "";
        width: 40px;
        height: 20px;
        // border-radius: 50%;
        border-radius: 0 0 80px 80px;
        position: absolute;
        top: -1px;
        right: 42%;
        // background-color: transparent;
        border: 1px solid #707070;
        border-top: 1px solid white;
        z-index: 5;
      }

      .collect-coupon-topic {
        border-bottom: 2px dashed #707070;
        padding: 30px 16px 30px 16px;
        h4 {
          font-size: 2rem;
        }
        p {
          margin: 0;
          color: #909393;
        }
      }
      .collect-coupon-discount {
        font-family: "roboto", sans-serif;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: baseline;
        color: #44494a;
        h2 {
          font-size: 3rem;
          margin: 0;
        }
        span {
          margin-right: 0.5rem;
          font-size: 1.5rem;
        }
      }
      .collect-coupon-btn {
        font-size: 1.2rem;
        background-color: #fc774c;
        color: #f8f8f8;
        font-weight: 500;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
        &:hover{
            background-color: #ec5827;
        }
      }
    }
    .ru-my-coupon{
        border: 1px solid #707070;
        border-radius: 5px;
        margin: 30px 0;
        padding: 10px;
        .coupon-deco-orange{
            width: 10%;
            border-radius: 5px 0 0 5px;
            background-color: #fc774c;
        }
        .coupon-deco-gray{
            width: 10%;
            border-radius: 5px 0 0 5px;
            background-color: #707070;
        }
        .coupon-info{
            width: 55%;
            padding: 20px;
            margin-right: 10px;
            border-right: 2px dashed  #707070;
            .ru-coupon-name{
                width: 80%;
                text-align: center;
                font-size: 1.5rem;
                // font-weight: bold;
                color: #44494A;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #44494A;
            }
            .ru-coupon-guide{
                p{
                    font-size: 12px;
                    margin: 0;
                    color: #909393;
                }
            }
            .ru-coupon-discount{
                font-size: 4rem;
                font-weight: 900;
                font-family: "roboto", sans-serif;
                color: #44494A;
                text-align: center;
            }
        }
        .coupon-use-detail{
            width: 35%;
            padding: 5px 20px;
            background-color: #fc774c;
            border-radius:  0 5px 5px 0;
            color:#f8f8f8;
            .coupon-exp-date{
                margin-bottom: 10px;
                span{
                    font-weight: bold;
                }
            }
            .ru-coupon-number{
                span{
                    margin-right: 1rem;
                }
                .ru-coupon-sid{
                    font-family: "roboto", sans-serif;
                    font-weight: bold;
                    color: #44494A;
                    text-align: center;
                    width: 45%;
                    background-color: #f8f8f8;
                }
            }
        }
        .already-used{
            background-color:#707070; 
        }
    }
  }
}
