@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.order-page {
  width: 100%;
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  // .container {
  //   width: 1356px;
  //   margin-top: 100px;
  //   padding: 0;
  //   .row {
  //     margin: 0;
  //   }
  // }
  // .ru-odPage-sidebar {
  //   width: 316.5px;
  //   border-right: 1px solid #707070;
  //   padding-right: 2rem;
  // }

  .ru-odPage-display {
    // width: 100%;
    user-select: none;
    cursor: pointer;
    .ru-odPage-option-btn {
      height: 2.8125rem;
      border-bottom: 1px solid rgba(68, 73, 74, 0.3);
      margin-bottom: 20px;
      .ru-odPage-order-status {
        color: rgba(68, 73, 74, 0.3);
      }
      .order-status-active {
        color: #44494a;
        border-bottom: 4px solid #2690df;
        margin-bottom: -2px;
      }
    }
    .ru-odPage-state-radius {
      width: 80px;
      height: 24px;
      background-color: #fc774c;
      border-radius: 30px;
      padding: 0 5px;
      p {
        font-size: 1rem;
        color: white;
        text-align: center;
        margin: 0;
      }
    }
    .ru-odPage-ship {
      background-color: #2690df;
    }
    .ru-odPage-finish {
      background-color: #dc2621;
    }
    .ru-odPage-cancel {
      background-color: #909393;
    }
  }
  .ru-odPage-title {
    width: 100%;
    padding: 0 25%;
    margin-bottom: 50px;
    color: #44494a;
    h4 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      border-left: 2px solid #44494a;
      border-right: 2px solid #44494a;
      margin: 0 20%;
    }
  }

  .ru-odPage-order-status {
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #44494a;
  }

  .ru-odPage-order-id {
    font-size: 1rem;
    background-color: #44494a;
    color: #f8f8f8;
    padding: 0.8rem;
  }
  .ru-odPage-order-detail {
    background-color: #fff;
    padding: 30px;
    .ru-odPage-order-left {
      width: 40%;
    }
    .ru-odPage-order-right {
      width: 55%;
      .ru-odPage-pic-display {
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 5px;
        position: relative;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .ru-odPage-pic-mask {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.653);
        display: flex;
        justify-content: center;
        align-items: center;
        .ru-odPage-pic-num {
          font-family: Roboto, sans-serif;
          font-size: 3rem;
          font-weight: bold;
          color: #f8f8f8;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 5;
        top: 0;
        border-radius: 5px;
      }
    }
    p {
      margin-right: 1rem;
    }
  }

  .ru-orderPage-card {
    border: 0;
    height: auto;
    .ru-orderPage-card-body {
      padding: 0.8rem 0;
    }
  }

  .ru-odPage-check-detail-btn {
    padding: 5px;
    background-color: transparent;
    border: 0;
    width: 14.5rem;
    border-radius: 30px;
    text-align: center;
    .ru-odPage-button {
      width: 100%;
      height: 3.125rem;
      border: 2px solid #44494a;
      color: #44494a;
      background-color: #fff;
      border-radius: 30px;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .check-btn-active {
      width: 100%;
      height: 3.125rem;
      border: 2px transparent;
      background-color: #44494a;
      color: #fff;
      border-radius: 30px;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .ru-odPage-detail-topic {
    width: 100%;
    font-size: 1rem;
    background-color: rgba(144, 147, 147, 0.45);
    padding: 0.8rem;
  }

  .ru-odPage-detail {
    padding: 0.8rem;
    margin: 30px 0;
    h5 {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 10px;
      border-bottom: 1px solid #000;
      margin-bottom: 30px;
    }
    .ru-odPage-progress-broder {
      width: 25%;
      height: 3px;
      border-bottom: 3px solid #707070;
      // margin-top: -5  0%;
    }
    .ru-odPage-progress-circle {
      width: 3.6rem;
      height: 3.6rem;
      background-color: #909393;

      border-radius: 50%;
      margin-top: 20px;
      margin-bottom: 1rem;
      padding: 14.5px;
    }
    .progress-circle-active {
      background-color: #73e1b4;
    }
    .ru-odPage-progress-text {
      height: 3.125rem;
      text-align: center;
    }
  }
  .ru-odPage-pd-card {
    width: 100%;
    // border: 1px solid red;
    margin: 40px 0;
    .ru-odPage-pd-img {
      width: 155px;
      height: 155px;
      background-size: cover;
      border-radius: 5px;
    }
    .ru-odPage-intro-block {
      width: 6.25rem;
      text-align: center;
    }
  }
  .ru-odPage-amount-detail {
    border-top: 1px solid #707070;
    padding: 40px 0 20px 0;
    // border-bottom: 1px solid #707070;
    .amount-detai-left {
      text-align: right;
      p {
        margin-right: 2rem;
      }
    }
  }
  .fake-hr-line {
    width: 50%;
    height: 2px;
    border-bottom: 1px solid #707070;
    margin: 20px 0;
  }
  .ru-odPage-total-amount {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    // border-top: 1px solid #707070;
    p {
      margin: 0;
      margin-right: 2rem;
    }
    h5 {
      font-family: Roboto, sans-serif;
      font-size: 2rem;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
  .receiver-info-left {
    margin-right: 2rem;
  }
  .ru-odPage-other-detail {
    p {
      margin-right: 2rem;
    }
  }

  .ru-odPage-pd-comment {
    margin-bottom: 40px;
    .ru-pd-img {
      width: 9.7rem;
      height: 9.7rem;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .ru-rate-info {
      width: 50%;
      .ru-rate-pd-name {
        font-size: 1.25rem;
        color: #232d2f;
        font-weight: bold;
        span {
          font-size: 1rem;
          color: #44494a;
          margin-left: 2rem;
        }
      }
      .ru-rate-stars {
        margin-top: 10px;
        span {
          margin-right: 10px;
        }
      }
      .ru-rate-upload-pic {
        width: 100%;
        height: 5rem;
        border: 1px solid #2690df;
        border-radius: 5px;
        color: #2690df;
        text-align: center;
        margin-top: 1rem;
        padding: 0.5rem;
        img {
          object-fit: cover;
          width: 10%;
        }
      }
      textarea {
        width: 100%;
        resize: none;
        border: 1px solid #909393;
        border-radius: 5px;
        margin-top: 1rem;
      }
    }
    .ru-comment-btn {
      width: 15%;
      background-color: #2690df;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      border-radius: 30px;
    }
  }
}
