@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.amount-list{
    font-family: "Noto Sans TC", sans-serif;
    .ru-cart-amount-info {
        width: 435px;
        background-color: #9093932c;
        padding: 3.375rem 2.625rem;
        font-size: 1.5rem;
        .ru-cart-sum {
          border-bottom: 1px solid #909393;
          h4 {
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
          }
        }
        .ru-cart-coupon,
        .ru-cart-pd-price {
          font-size: 1rem;
          padding-top: 30px;
        }
        .ru-cart-coupon-btn {
          width: 8rem;
          height: 2rem;
          background-color: #fc774c;
          border-radius: 2rem;
          font-size: 1rem;
          color: #f8f8f8;
          text-align: center;
          line-height: 2rem;
          user-select: none;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            background-color: darken(#fc774c, 5%);
          }
        }
    }

    .ru-cart-amount-total h4 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }

    .ru-cart-amount-total {
        margin-top: 15px;
        padding: 2rem 2.625rem;
        background-color: #90939317;
        font-size: 1.5rem;
    }

}

.ru-amountlist-modal{
    .modal-dialog {
      overflow-y: initial !important;
    }
    .amountlist-modal-body {
      height: 500px;
      overflow-y: auto;
    }
    // .modal-center {
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    // }
    .ru-cart-radius-btn {
      border-radius: 30px;
    }
    .ru-cart-use-btn {
      width: 8rem;
      color: #f8f8f8;
    }
    .ru-cart-coupon-card {
        width: 100%;
        border: 1px solid #44494a;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        }
        .ru-cart-coupon-discount {
            width: 30%;
            padding: 5px;
            border-right: 1px dashed #44494a;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .ru-cart-discount-num {
            font-family: "roboto";
            font-size: 2.5rem;
            text-align: center;
            font-weight: bolder;
        }
        .ru-cart-discount-name {
            width: 70%;
            font-size: 1rem;
            text-align: center;
            color: #909393;
        }
    
        .ru-cart-coupon-info {
            width: 68%;
            padding: 10px;
            background-color: #44494a;
            border-radius: 0 5px 5px 0;
            color: #f8f8f8;
        }
        .modal-content{
            .ru-cart-coupon-active {
                background-color: #fc774c;
            }
        }
    
        .ru-cart-coupon-id {
            font-family: Roboto;
            font-weight: bold;
            width: 4.75rem;
            height: 1.25rem;
            background-color: #f8f8f8;
            color: #44494a;
            text-align: center;
            line-height: 1.25rem;
        }
  
}