span.loop-btn,
span.reload-btn,
.rc-slider-handle{
    display: none !important;
}

.progress-bar{
    background-color:transparent;
}

.react-jinke-music-player-main.dark-theme h2{
    color: #fff;
}

