div.custom-table-width .jay-table th,
div.custom-table-width .jay-table td{
    border-top: 0px;
    border-bottom: 1px solid #dee2e6;
    padding-top: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

hr.dashboard-hr{
    border: 1px solid #707070 ;
}

.jay-table {
    table-layout: fixed;   
    min-width: 100%;     
}


.jay-table thead th:first-child,
.jay-table tbody th:first-child {
    width: 18%;
}
 
td {
    word-wrap: break-word;
}

.jay-table thead th:nth-child(4),
.jay-table thead th:nth-child(5){
    width: 10%;
}


.jay-table thead th:last-child,
.jay-table tbody td:last-child {
    width: 10%;
}



button.btn.btn-primary.btn-sm.jay-search-btn{
    border-radius: 0px 0.2rem 0.2rem 0px;
    width: 4rem;
    height: 100%;
}
input.jay-search-input{
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    border: 1px solid #dee2e6;
}


.jay-icon{
    font-size: 1.25rem;
}


.jay-spinnerArea{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    height: 100vh;
}

